{{/* About page intro card: site avatar + the inner markdown (first-person intro). */}}
{{- $avatar := site.Params.sidebar.avatar -}}
<section class="about-card about-intro">
    {{- with $avatar }}
    {{- $src := . -}}
    {{- with resources.Get . }}{{ $src = (.Fill "176x176 webp").RelPermalink }}{{ else }}{{ $src = . | relURL }}{{ end }}
    <img class="about-avatar" src="{{ $src }}" width="88" height="88" alt="Avatar" loading="lazy">
    {{- end }}
    <div class="about-intro-text">
        {{ .Inner | .Page.RenderString (dict "display" "block") }}
    </div>
</section>
